body {
    background-color: darkgray;
}

div#answers {
    position: inherit;
    top: 10%;
}

div#button-div {
    margin-left:auto;
    margin-right:0;
 /*   padding-right: 1rem; */

}

li {
    font-size: 1.6rem;
}

.uline {
    text-decoration: underline;
}

div.fixed-height {
    display: inline-block;
    min-height: 60%;
}